.message {
  color: #000;
  padding-top: 5vw;
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .message {
    font-size: 4vw;
  }
}
