html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
body {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.wasd-header {
  height: 75px;
  background-color: #6441a5;
  padding: 15px;
}
.logo {
  height: 100%;
}
.button {
  cursor: pointer;
  color: #000;
  background: #fff;
  border-radius: 4px;
  padding: 2% 6%;
  font-size: 1.5vw;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background: #282828;
  color: #fff;
  border: 1px solid #111;
}
.wasd-text {
  float: right;
  text-align: right;
  margin-top: 6px;
}
.wasd-top {
  text-align: right;
  letter-spacing: 1.5px;
}
.wasd-bottom {
  font-size: 20px;
  margin-top: 12px;
}
.wasd-bottom a {
  margin-left: 16px;
}
.name {
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 4px;
}
form {
  position: relative;
}
.search,
.sub-results-box {
  height: 40px;
  background-color: #53368a;
  text-align: center;
  padding: 16px 0 10px 0;
}
.search select,
.sub-results-box select {
  font-size: 16px;
  padding: 6px 0 6px 0;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 6px;
}
.search input[type="text"],
.sub-results-box input[type="text"] {
  width: 350px;
  font-size: 18px;
  height: 24px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.search input[type="image"],
.sub-results-box input[type="image"] {
  max-height: 32px;
  max-width: 32px;
  vertical-align: top;
  margin-left: 6px;
}
.search .result,
.sub-results-box .result {
  text-align: left;
  margin: 4px 0 4px 0;
  cursor: pointer;
  width: 100%;
  float: left;
  color: #000;
  padding: 8px 0 8px 0;
}
.search .result:hover,
.sub-results-box .result:hover {
  background-color: #6441a5;
  color: #fff;
}
.info {
  width: 350px;
  display: inline-block;
  vertical-align: top;
}
.description {
  font-size: 13px;
  display: inline-block;
  max-height: 94px;
  overflow: hidden;
}
.results-box,
.sub-results-box {
  position: absolute;
  top: 50px;
  background: #fff;
  color: #000;
  padding: 2px 0 2px 0;
  border-radius: 4px;
  visibility: hidden;
  box-shadow: 0 0 75px #000;
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  margin-left: -90px;
  z-index: 1;
}
.results-box img,
.sub-results-box img {
  max-width: 100px;
  vertical-align: top;
  margin: 0 10px 0 10px;
  display: inline-block;
}
footer {
  margin-top: 100px;
  background-color: #282828;
  text-align: center;
}
footer .top {
  width: 800px;
  text-align: left;
  margin: 0 auto 24px auto;
}
footer .bottom {
  background-color: rgba(0,0,0,0.25);
  line-height: 70px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.one-ups-label {
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #008629;
  padding: 2px 6px 2px 4px;
  vertical-align: middle;
  color: #008629;
  background-color: #edfff3;
  cursor: pointer;
}
.one-ups-label:hover {
  background-color: #cfffd4;
}
.one-upped {
  background-color: #008629;
  color: #fff;
}
.one-upped:hover {
  background-color: #006820;
}
.section {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}
.footer-header {
  margin: 20px 0 10px 0;
  font-size: 20px;
}
footer img {
  width: 100px;
}
.madeinny-container {
  text-align: center;
}
.footer-item {
  margin-bottom: 10px;
}
@media only screen and (max-width: 550px) {
  .wasd-header {
    height: 50px;
  }
  .wasd-top {
    font-size: 14px;
  }
  .wasd-text {
    margin-top: 0;
  }
  .wasd-bottom {
    font-size: 13px;
  }
  .search input[type="text"] {
    width: 50vw;
    font-size: 14px;
  }
  .search .result {
    width: 100%;
  }
  .results-box,
  .sub-results-box {
    width: 98%;
    left: 1vw;
    margin-left: 0;
    max-height: 50vh;
  }
  .results-box img,
  .sub-results-box img {
    max-width: 15vw;
    vertical-align: middle;
  }
  .info {
    width: 80%;
    padding-right: 0;
  }
  .name {
    font-size: 3vw;
  }
  .description {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 750px) {
  .section {
    width: 90%;
    margin-left: 20px;
  }
  footer .top {
    height: initial;
    width: 100%;
  }
  footer .bottom {
    font-size: 3vw;
  }
  .madeinny,
  .madeinny-container {
    text-align: center;
  }
  .madeinny img,
  .madeinny-container img {
    width: 50%;
  }
}
body {
  background-color: #e9ebee;
}
.profile {
  color: #000;
  width: 700px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
.header {
  overflow: hidden;
}
.header img {
  max-width: 128px;
  max-height: 128px;
  vertical-align: bottom;
}
.pic {
  display: inline-block;
  min-height: 128px;
}
.header,
.about,
.fav-games,
.platform,
.all-games {
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 35px;
}
.user-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.username {
  display: inline;
  vertical-align: top;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.extra-info {
  line-height: 40px;
}
.right-side {
  float: right;
  display: inline-block;
}
.profile-one-ups,
.profile-coins {
  text-align: right;
  margin-right: 16px;
  margin-top: 7px;
  font-size: 18px;
}
.message-button,
.edit-profile-button,
.discard-button {
  width: 100px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.edit-profile-button {
  border: 1px solid #146588;
  background-color: #3e72ae;
}
.edit-profile-button:hover {
  background-color: #2c89cc;
}
.message-button {
  border: 1px solid #00881d;
  background-color: #27ae60;
}
.message-button:hover {
  background-color: #2ecc71;
}
.tagline {
  font-size: 18px;
}
.user-name,
.bio {
  padding-bottom: 10px;
}
.about div,
.fav-games div,
.platform div,
.all-games div {
  padding-left: 25px;
  padding-right: 25px;
}
img.coin {
  vertical-align: top;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.about-header,
.fav-games-header,
.platform .header,
.all-games-header {
  font-size: 20px;
  line-height: 40px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ddd;
  background-color: #f3f3f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 0;
  margin-bottom: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.about,
.fav-games,
.all-games {
  padding-bottom: 20px;
}
.user-name {
  font-size: 26px;
}
.bio {
  font-size: 14px;
  line-height: 150%;
}
.status {
  display: inline-block;
  padding: 5px;
  margin-top: 22px;
  margin-left: 16px;
  border-radius: 100%;
}
.online {
  box-shadow: 0 0 0 2.5px #00d280;
}
.offline {
  box-shadow: 0 0 0 2.5px #f00;
}
.games div,
.games-list div {
  padding: 0;
  position: relative;
}
.game {
  width: 125px;
  display: inline-table;
  text-align: center;
  margin-bottom: 14px;
}
.game-title {
  font-size: 13px;
}
img.boxart {
  max-width: 120px;
  border: 1px solid #ddd;
}
img.boxart:hover {
  border: 1px solid #6441a5;
  box-shadow: 0 0 25px #6441a5;
}
.availability-header {
  font-size: 20px;
}
.availability-header img {
  max-height: 16px;
  margin-right: 5px;
}
.availability {
  font-size: 16px;
  margin-top: 8px;
}
.availability img {
  max-height: 20px;
  vertical-align: bottom;
  margin-right: 10px;
}
.availability div {
  font-weight: lighter;
}
.availability-type {
  font-weight: normal;
}
.checkbox,
li {
  font-weight: lighter;
  font-size: 16px;
}
ul {
  margin-top: 0;
}
.platform-name {
  font-size: 28px;
  padding-bottom: 16px;
}
.steam {
  background: #fffffe;
}
.steam .header {
  background: #171a21;
  border-color: #171a21;
  color: #fff;
}
.xbox {
  background: #f3ffed;
}
.xbox .header {
  background: #107c10;
  border-color: #107c10;
  color: #fff;
}
.playstation {
  background: #edf4ff;
}
.playstation .header {
  background: #003791;
  border-color: #003791;
  color: #fff;
}
.twitch {
  background: #f9ebff;
}
.twitch .header {
  background: #6441a5;
  border-color: #6441a5;
  color: #fff;
}
.button {
  width: 300px;
  height: 75px;
  font-size: 28px;
  border: 1px solid #ddd;
}
.profile-pic {
  position: relative;
}
@media only screen and (max-width: 700px) {
  .profile {
    width: 95%;
    padding: 0 1vw 0 1vw;
  }
  .header img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
  .pic {
    text-align: center;
    width: 100%;
  }
  .username,
  .tagline,
  .extra-info {
    padding-top: 2px;
  }
  .username {
    font-size: 10vw;
  }
  .user-info {
    display: block;
    vertical-align: top;
    margin: auto;
    text-align: center;
  }
  .extra-info {
    font-size: 4vw;
  }
  .tagline {
    font-size: 3.5vw;
  }
  .right-side {
    float: left;
    width: 100%;
    text-align: center;
  }
  .profile-one-ups,
  .profile-coins {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .message-button,
  .discard-button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 18px;
  }
  .status {
    margin-top: 10px;
    padding: 1vw;
    margin-left: 8px;
  }
  .button {
    width: 100%;
    height: 15vw;
    font-size: 5vw;
  }
  .games,
  .games-list {
    text-align: center;
  }
  .about div,
  .fav-games div,
  .platform div,
  .all-games div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.discard-button {
  border: 1px solid #880c0d;
  background-color: #ae303e;
}
.discard-button:hover {
  background-color: #cc3945;
}
.input-tagline,
.input-bio,
.input-name {
  font-family: 'Open Sans', sans-serif;
}
.input-tagline {
  width: 400px;
}
.input-bio {
  width: 625px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  resize: none;
}
.input-name {
  font-size: 20px;
  float: right;
  width: 300px;
  margin-right: 190px;
}
.input-game {
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
}
.add-another {
  width: 150px;
  font-size: 16px;
  padding: 10px;
  height: 46px;
}
.image-upload {
  display: none;
}
.profile-pic {
  cursor: pointer;
}
h2 {
  position: absolute;
  top: 90px;
  left: 1px;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
  color: #d3d3d3;
  font-weight: 200;
  padding: 5px 16px 3px 17px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}
.pic:hover h2 {
  background-color: #6441a5;
  color: #fff;
}
span.sub-results-box {
  display: block;
  position: absolute;
  height: 500px;
}
span.sub-results-box a {
  color: #000;
}
input:read-only {
  color: #808080;
}
.remove {
  vertical-align: middle;
  width: 24px;
  margin: 0 2px 0 2px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
@media only screen and (max-width: 700px) {
  .input-name {
    width: 100%;
    float: initial;
  }
  .input-game {
    width: 100%;
  }
  .input-bio {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: 24px;
  }
  .input-tagline {
    margin-top: 20px;
    font-size: 3vw;
    margin-left: 0vw;
    width: 85vw;
  }
  h2 {
    position: absolute;
    top: -14px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0;
    font-size: 18px;
    border-bottom-right-radius: 2px;
  }
  .pic:hover h2 {
    color: #fff;
  }
}
