@import "user.styl"

.discard-button {
  border: 1px solid #880c0d;
  background-color: #ae303e;
}

.discard-button:hover {
  background-color: #cc3945
}

.input-tagline, .input-bio, .input-name {
  font-family: 'Open Sans', sans-serif;
}

.input-tagline {
  width: 400px;
}

.input-bio {
  width: 625px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  resize: none;
}

.input-name{
  font-size: 20px;
  float: right;
  width: 300px;
  margin-right: 190px;
}

.input-game {
  width: 300px;
  font-size: 18px;
  margin-right: 100%;
  margin-bottom: 20px;
}

.add-another {
  width: 150px;
  font-size: 16px;
  padding: 10px;
  height: 46px;
}

.image-upload{
  display: none;
}

.profile-pic {
  cursor: pointer;
}

h2 {
  position: absolute;
  top: 90px;
  left: 1px;
  font-size: 14px;
  background: rgba(0, 0, 0, .5);
  color: lightgrey;
  font-weight: 200;
  padding: 5px 16px 3px 17px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}

.pic:hover h2 {
  background-color: wasdWithMePurple;
  color: white;
}

span.sub-results-box {
  display: block;
  position: initial;
  height: 100%;
  a{
    color: black;
  }

}

input:read-only {
  color: gray;
}

@media only screen and (max-width: 700px) {
  .input-name {
    width: 100%;
    float: initial;
  }

  .input-game {
    width: 100%;
  }

  .input-bio {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: 24px;
  }

  .input-tagline {
    margin-top: 20px;
    font-size: 3vw;
    margin-left: 0vw;
    width: 85vw;
  }

  h2 {
    position: absolute;
    top: -14px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 0;
    font-size: 18px;
    border-bottom-right-radius: 2px;
  }

  .pic:hover h2 {
    color: white;
  }
}