@import "primary.styl"

.container{
  color:black;
  position: relative;
  width: 800px;
  margin: auto;
}
.banner {
  max-height: 400px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  img {
    width: 100%;
    -webkit-filter: blur(3px) brightness(50%);
    filter:blur(3px) brightness(50%);
    transform: scale(1.1);
  }
}

.top {
  display: inline-block;
}

.game {
  margin-top: 100px;
  .top{
    margin-bottom: 30px;
  }
}

  .boxart{
    float: left;
  }

.game-name {
  color: white;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: 2px;
  max-width: 500px;
  margin-top: 50px;
}

.release-date {
  color: lightgrey;
  display: inline-block;
  font-size: 24px;
  margin-left: 25px;
  min-width: 300px;
}