wasdWithMePurple = #6441A5
wasdWithMeGray = #282828

html,body {
  height:100%;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  margin:0;
}

a {
  color: #fff;
  text-decoration: none;
}