@import "primary.styl"
body {
  background-color: #e9ebee;
}
.container{
  width: 600px;
  margin: auto;
}
.header {
  color: black;
  margin: 20px 0 20px 0;
  font-size: 24px;
}
.input{
  width: 75%;
  padding: 6px;
  margin-top: 10px;
  font-size: 16px;
}
.button{
  font-size: 15px;
  border-radius: 0;
  width: 20%;
  padding: 6px 0;
}
.chat {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  color: white;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
.other-message{
  color: wasdWithMePurple;
}
.own-message{
  color:grey;
}