@import "primary.styl"
body {
  background-color: #e9ebee;
}
.container{
  width: 600px;
  margin: auto;
}
.header {
  color: black;
  margin: 20px 0 20px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 35px;
}
.input{
  width: 75%;
  padding: 6px;
  margin-top: 10px;
  font-size: 16px;
}
.button{
  font-size: 15px;
  border-radius: 0;
  width: 20%;
  padding: 6px 0;
}
.chat {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #ddd;
  color: white;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
.bubble{
  width: 100%;
  display: inline-block;
}
.other-message, .own-message{
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 4px;
}
.other-message{
  color: black;
  background-color: lightgrey;
}
.own-message{
  background-color: wasdWithMePurple;
  color: white;
  float: right;
}
.pic,.user-info{
  display: inline-block;
  vertical-align: top;
}
  .user-info{
    margin-left: 10px;
  }
.profile-pic{
  max-width: 128px;
  max-height: 128px;
  vertical-align: middle;
}
.username{
  display: inline;
  vertical-align: top;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.extra-info {
  line-height: 40px;
}
.tagline {
  font-size: 18px;
}