@import "primary.styl"
body {
  background-color: #e9ebee;
}
.container{
  width: 600px;
  margin: auto;
}
.header {
  color: black;
  margin: 20px 0 20px 0;
  font-size: 24px;
}
  .box{
    width:80%;
    padding: 4px;
    margin-top: 10px;
  }
.chat {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: white;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
}
.other-message{
  color: wasdWithMePurple;
}
.own-message{
  color:grey;
}