@import "master.styl"

html {
  color: white;
}

.header {
  height: 75px;
  background-color: wasdWithMePurple;
  padding: 15px;
}

.logo {
  height: 100%;
}

transition(transition) {
  -moz-transition: transition;
  -o-transition: transition;
  -webkit-transition: transition;
  transition: transition;
}

.button {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  border: 1px solid #cccccc;
  cursor: pointer;
  color: #000000;
  background: #FFFFFF;
  border-radius: 4px;
  font-weight: lighter;
  padding: 2% 6%;
  text-decoration: none;
  font-size: 1.5vw;
  transition(all 0.1s ease-in-out);
}

.button:hover {
  background: #282828;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid #111111;
}

.header-text {
  display: inline-block;
  float: right;
  height: 100%;
  text-align: right;
  font-size: 1vw;
  margin-top: 6px;
}

.header-top {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
}

.header-bottom {
  font-size: 20px;
  margin-top: 10px;
}

footer {
  height: 225px;
  width: 100%;
  background-color: wasdWithMeGray;

  .top {
    height: 150px;
  }
  .bottom {
    background-color: rgba(0,0,0,0.25);
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}

