@import "variables.styl"
h1 {
  padding: 16px 0;
  font-family: Roboto;
  color: white;
  letter-spacing: 2px;
  margin: auto;
  width: 800px;
}
.banner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.title{
  font-weight: bold;
  font-family: Roboto;
}
.container {
  color:black;
  background-color: wasdWithMeGray;
  padding: 16px 0;
  margin-bottom: 24px;
}
.container-header{
  margin: auto;
  width: 800px;
  p {
    color: #9290a0;
    padding: 16px 0;
  }
}
p{
  margin: 12px auto;
  width: 800px;
  color: black;
  a {
    color: black;
  }
}
@media only screen and (max-width: 850px) {
  .container, .policy{
    width: 90%;
    padding: 0 5%;
  }
  .container-header {
    width: 100%;
    p{
      padding-top: 0;
      margin-top: 0;
    }
  }
  p{
    width: 100%;
    font-size: 75%;
  }
}
