@import "primary.styl"

body {
  background-color: #e9ebee;
}

.query {
  color: #000;
  text-align: left;
  width: 700px;
  margin: 32px auto 32px auto;
  font-size: 24px;
}

.search-results {
  color: #000;
  text-align: left;
  width: 700px;
  margin: auto;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 75px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 14px 10px 14px;
  a {
    color: black;
  }
  a:hover {
    color: white;
  }
  img {
    max-width: 128px;
    vertical-align: middle;
  }
}

.search-result {
  text-align: left;
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
  color: black;
  padding-bottom: 12px;
}

.search-result:hover {
  background-color: wasdWithMePurple;
  color: white;
}

.search-info {
  float: right;
  width: 550px;
  .search-name {
    font-size: 20px;
    padding: 4px 0 4px 0;
  }
}

.search-description {
  font-size: 12px;
  display: inline-block;
}

@media only screen and (max-width: 750px) {
  .search-results{
    width: 96%;
    padding:0;
    margin-left: 2%;
    img{
      max-width: 20vw;
    }
  }
  .search-info{
    width: 75%;
  }

  .search-info .search-name {
    font-size: 5vw;
  }

  .search-description{
    font-size: 3vw;
  }

  .query{
    font-size: 4vw;
    margin-left: 2%;
  }
}