html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
body {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.wasd-header {
  height: 75px;
  background-color: #6441a5;
  padding: 15px;
}
.logo {
  height: 100%;
}
.button {
  cursor: pointer;
  color: #000;
  background: #fff;
  border-radius: 4px;
  padding: 2% 6%;
  font-size: 1.5vw;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background: #282828;
  color: #fff;
  border: 1px solid #111;
}
.wasd-text {
  float: right;
  text-align: right;
  margin-top: 6px;
}
.wasd-top {
  text-align: right;
  letter-spacing: 1.5px;
}
.wasd-bottom {
  font-size: 20px;
  margin-top: 12px;
}
.wasd-bottom a {
  margin-left: 16px;
}
.name {
  font-size: 20px;
  padding-bottom: 4px;
}
form {
  position: relative;
}
.search,
.sub-results-box {
  height: 40px;
  background-color: #53368a;
  text-align: center;
  padding: 16px 0 10px 0;
}
.search input[type="text"],
.sub-results-box input[type="text"] {
  width: 350px;
  font-size: 18px;
  height: 24px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.search input[type="image"],
.sub-results-box input[type="image"] {
  max-height: 32px;
  max-width: 32px;
  vertical-align: top;
  margin-left: 6px;
}
.search .result,
.sub-results-box .result {
  text-align: left;
  margin: 4px 0 4px 0;
  cursor: pointer;
  width: 485px;
  float: left;
}
.search .result:hover,
.sub-results-box .result:hover {
  background-color: #6441a5;
  color: #fff;
}
.info {
  float: right;
  width: 360px;
  padding-right: 10px;
}
.description {
  font-size: 13px;
  display: inline-block;
  max-height: 94px;
  overflow: hidden;
}
.results-box,
.sub-results-box {
  position: absolute;
  top: 50px;
  background: #fff;
  color: #000;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  visibility: hidden;
  box-shadow: 0 0 75px #000;
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
}
.results-box img,
.sub-results-box img {
  max-width: 100px;
  vertical-align: middle;
}
footer {
  margin-top: 100px;
  background-color: #282828;
  text-align: center;
}
footer .top {
  width: 800px;
  margin: auto;
  margin-bottom: 24px;
}
footer .bottom {
  background-color: rgba(0,0,0,0.25);
  text-align: center;
  line-height: 70px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.one-ups-label {
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #008629;
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
  color: #008629;
  background-color: #edfff3;
  cursor: pointer;
}
.one-ups-label:hover {
  background-color: #cfffd4;
}
.section {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}
.footer-header {
  margin: 20px 0 10px 0;
  font-size: 20px;
}
footer img {
  width: 100px;
}
.madeinny-container {
  text-align: center;
}
.footer-item {
  margin-bottom: 10px;
}
@media only screen and (max-width: 500px) {
  .wasd-header {
    height: 50px;
  }
  .wasd-top {
    font-size: 14px;
  }
  .wasd-text {
    margin-top: 0;
  }
  .wasd-bottom {
    font-size: 13px;
  }
  .search input[type="text"] {
    width: 70vw;
    font-size: 16px;
  }
  .results-box,
  .sub-results-box {
    width: 94vw;
    left: 1vw;
  }
  .results-box img,
  .sub-results-box img {
    max-width: 15vw;
    vertical-align: middle;
  }
  .info {
    width: 77vw;
  }
  .name {
    font-size: 4vw;
  }
  .description {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 750px) {
  .section {
    width: 90%;
    margin-left: 20px;
  }
  footer .top {
    height: initial;
    width: 100%;
  }
  .madeinny,
  .madeinny-container {
    text-align: center;
  }
  .madeinny img,
  .madeinny-container img {
    width: 50%;
  }
}
body {
  background-color: #e9ebee;
}
.query {
  color: #000;
  text-align: left;
  width: 700px;
  margin: 32px auto 32px auto;
  font-size: 24px;
}
.search-results {
  color: #000;
  text-align: left;
  width: 700px;
  margin: auto;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 75px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 14px 10px 14px;
}
.search-results a {
  color: #000;
}
.search-results a:hover {
  color: #fff;
}
.search-results img {
  max-width: 128px;
  vertical-align: middle;
}
.search-result {
  text-align: left;
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  color: #000;
}
.search-result:hover {
  background-color: #6441a5;
  color: #fff;
}
.search-info {
  float: right;
  width: 540px;
  overflow: hidden;
  height: 165px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.search-info .search-name {
  font-size: 22px;
  padding-bottom: 8px;
}
.search-description {
  font-size: 13px;
  display: inline-block;
}
@media only screen and (max-width: 750px) {
  .search-results {
    width: 96%;
    padding: 0;
    margin-left: 2%;
  }
  .search-results img {
    max-width: 20vw;
  }
  .search-info {
    width: 75%;
  }
  .search-info .search-name {
    font-size: 5vw;
  }
  .search-description {
    font-size: 2vw;
  }
  .query {
    font-size: 3vw;
    margin-left: 2%;
  }
}
