body {
    background-color: #e9ebee;
}
.profile {
    color: #000;
    margin-top: 35px;
    margin-bottom: 35px;
}
.header,
.about,
.fav-games,
.other-games,
.platform-header,
.platform > div,
.save-changes {
    width: 700px;
    margin: auto;
}
.platform-header {
    line-height: 50px;
    font-family: "Roboto";
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 20px;
    text-transform: uppercase;
}
.platform-header img {
    width: 24px;
    margin-top: 14px;
    margin-right: 4px;
}
hr {
    width: 700px;
    border: none;
    height: 1px;
    background-color: #fff;
    margin-bottom: 20px;
}
.header {
    overflow: hidden;
}
.header img {
    max-width: 128px;
    max-height: 128px;
    vertical-align: bottom;
}
.background {
    max-height: 500px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.background img {
    width: 100%;
    -webkit-filter: blur(3px) brightness(50%);
    filter: blur(3px) brightness(50%);
    transform: scale(1.1);
}
.pic {
    display: inline-block;
    min-height: 128px;
}
.header,
.about,
.fav-games,
.other-games {
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 35px;
}
.user-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.username {
    display: inline;
    vertical-align: top;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
}
.extra-info {
    line-height: 40px;
}
.right-side {
    float: right;
    display: inline-block;
}
.profile-one-ups,
.profile-coins {
    text-align: right;
    margin-right: 16px;
    margin-top: 7px;
    font-size: 18px;
}
.message-button,
.edit-profile-button,
.discard-button {
    width: 100px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.edit-profile-button {
    border: 1px solid #146588;
    background-color: #3e72ae;
}
.edit-profile-button:hover {
    background-color: #2c89cc;
}
.message-button {
    border: 1px solid #00881d;
    background-color: #27ae60;
}
.message-button:hover {
    background-color: #2ecc71;
}
.tagline {
    font-size: 14px;
}
.user-name,
.bio {
    padding-bottom: 10px;
}
.about > div,
.fav-games > div,
.other-games > div {
    padding-left: 25px;
    padding-right: 25px;
}
img.coin {
    vertical-align: top;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.about-header,
.fav-games-header,
.platform .header,
.other-games-header {
    font-size: 20px;
    line-height: 40px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color: #f3f3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 0;
    margin-bottom: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.about,
.fav-games,
.other-games {
    padding-bottom: 20px;
}
.user-name {
    font-size: 26px;
}
.bio {
    font-size: 14px;
    line-height: 150%;
}
.status {
    display: inline-block;
    padding: 5px;
    margin-top: 22px;
    margin-left: 16px;
    border-radius: 100%;
}
.online {
    box-shadow: 0 0 0 2.5px #00d280;
}
.offline {
    box-shadow: 0 0 0 2.5px #f00;
}
.games div,
.games-list div {
    padding: 0;
    position: relative;
}
.game {
    width: 125px;
    display: inline-table;
    text-align: center;
    margin-bottom: 14px;
}
.game-title {
    font-size: 13px;
}
img.boxart {
    max-width: 120px;
    border: 1px solid #ddd;
}
img.boxart:hover {
    border: 1px solid #6441a5;
    box-shadow: 0 0 25px #6441a5;
}
.availability-header {
    font-size: 20px;
    margin: 10px 0;
}
.availability-header img {
    max-height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}
.availability {
    font-size: 16px;
    margin-top: 8px;
}
.availability img {
    max-height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}
.availability div {
    font-weight: lighter;
}
.availability-type {
    font-weight: normal;
}
.checkbox,
li {
    font-weight: lighter;
    font-size: 16px;
}
ul {
    margin-top: 0;
}
.platform-name {
    font-size: 18px;
}
.platform {
    padding-bottom: 20px;
    padding-top: 4px;
    color: #fff;
}
.steam {
    background: #182835;
}
.xbox {
    background: #107c10;
}
.playstation {
    background: #003791;
}
.twitch {
    background: #6441a5;
}
.button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 0;
}
.profile-pic {
    position: relative;
}
.about select {
    width: 100%;
}
.steam-profile a {
    width: 100%;
    display: inline-block;
}
.steam-profile .steam-game {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-right: 50px;
    text-align: center;
}
.steam-profile .steam-game img {
    height: 69px;
    width: 184px;
    border: #000 solid 2px;
}
.steam-profile .steam-game-name {
    font-size: 14px;
    padding: 6px 0 10px 0px;
}
.steam-avatar {
    margin: 8px 0 20px 0;
    width: 100px;
    border-radius: 4px;
}
iframe {
    width: 100%;
    height: 365px;
    border: 0;
    margin-top: 10px;
}
.twitch-profile {
    margin-top: 10px;
}
.twitch-profile .name {
    font-size: 24px;
    letter-spacing: 2px;
}
.twitch-profile img {
    max-width: 100%;
    max-height: 200px;
}
.twitch-profile .views,
.twitch-profile .followers {
    font-size: 12px;
}
.twitch-profile .playing {
    padding: 8px 0;
}
.twitch-profile .desc {
    font-size: 14px;
}
.other-games {
    margin-top: 24px;
}
@media only screen and (max-width: 700px) {
    .header,
    .about,
    .fav-games,
    .other-games,
    .platform-header,
    .platform > div,
    .save-changes {
        width: 95%;
    }
    hr {
        width: 100%;
    }
    .steam-games {
        text-align: center;
    }
    iframe {
        width: 95%;
    }
    .steam-profile .steam-game {
        margin-right: 0;
        width: 90px;
    }
    .steam-profile .steam-game img {
        height: 30px;
        width: initial;
    }
    .steam-profile .steam-game-name {
        font-size: 12px;
    }
    .profile {
        width: 95%;
        padding: 0 1vw 0 1vw;
    }
    .header img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: bottom;
    }
    .pic {
        text-align: center;
        width: 100%;
    }
    .username,
    .tagline,
    .extra-info {
        padding-top: 2px;
    }
    .username {
        font-size: 10vw;
    }
    .user-info {
        display: block;
        vertical-align: top;
        margin: auto;
        text-align: center;
    }
    .extra-info {
        font-size: 4vw;
    }
    .tagline {
        font-size: 3.5vw;
    }
    .right-side {
        float: left;
        width: 100%;
        text-align: center;
    }
    .profile-one-ups,
    .profile-coins {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .message-button,
    .discard-button,
    .edit-profile-button {
        margin: auto;
        margin-top: 25px;
        margin-bottom: 18px;
        display: inline-block;
    }
    .status {
        margin-top: 10px;
        padding: 1vw;
        margin-left: 8px;
    }
    .button {
        width: 100%;
        height: 15vw;
        font-size: 5vw;
    }
    .games,
    .game-list,
    .fav-list {
        text-align: center;
    }
    .about > div,
    .fav-games > div,
    .platform > div,
    .other-games > div {
        padding-left: 10px;
        padding-right: 10px;
    }
}
