html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
body {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
html {
  color: #fff;
}
.wasd-header {
  height: 75px;
  background-color: #6441a5;
  padding: 15px;
}
.logo {
  height: 100%;
}
.button {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
  background: #fff;
  border-radius: 4px;
  font-weight: lighter;
  padding: 2% 6%;
  text-decoration: none;
  font-size: 1.5vw;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background: #282828;
  cursor: pointer;
  color: #fff;
  border: 1px solid #111;
}
.wasd-text {
  display: inline-block;
  float: right;
  height: 100%;
  text-align: right;
  font-size: 1vw;
  margin-top: 6px;
}
.wasd-top {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
}
.wasd-bottom {
  font-size: 20px;
  margin-top: 12px;
}
.wasd-bottom a {
  margin-left: 16px;
}
footer {
  height: 225px;
  background-color: #282828;
}
footer .top {
  height: 150px;
}
footer .bottom {
  background-color: rgba(0,0,0,0.25);
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 600px) {
  .wasd-header {
    height: 50px;
  }
  .wasd-top {
    font-size: 14px;
  }
  .wasd-text {
    margin-top: 0;
  }
  .wasd-bottom {
    font-size: 18px;
  }
}
body {
  background-color: #fff;
}
.profile {
  color: #282828;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eee;
}
.profile img {
  max-width: 128px;
  max-height: 128px;
}
.pic {
  display: inline-block;
}
.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.username {
  display: inline;
  vertical-align: top;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.extra-info {
  line-height: 40px;
}
