@import "primary.styl"

body {
  background-color: #e9ebee;
}

.profile {
  color: black;
  width: 700px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.header {
  overflow: hidden;

  img {
    max-width: 128px;
    max-height: 128px;
    vertical-align: bottom;
  }
}

.pic {
  display: inline-block;
}

.header, .about, .fav-games, .platform, .all-games {
  border-radius: 8px;
  border: 1px solid #dddddd;
  background-color: white;
  margin-bottom: 35px;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.username {
  display: inline;
  vertical-align: top;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.extra-info {
  line-height: 40px;
}

.right-side {
  float: right;
  display: inline-block;
}

.profile-one-ups, .profile-coins {
  text-align: right;
  margin-right: 16px;
  margin-top: 7px;
  font-size: 18px;
}

.message-button, .edit-profile-button {
  width: 100px;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  color: white;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.edit-profile-button {
  border: 1px solid #146588;
  background-color: #3e72ae;
}

.edit-profile-button:hover {
  background-color: #2c89cc
}

.message-button {
  border: 1px solid #00881d;
  background-color: #27ae60;
}

.message-button:hover {
  background-color: #2ecc71
}

.tagline {
  font-size: 18px;
}

.name, .bio {
  padding-bottom: 10px;
}

.about div, .fav-games div, .platform div, .all-games div {
  padding-left: 25px;
  padding-right: 25px;
}

img.coin {
  vertical-align: top;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.about-header, .fav-games-header, .platform .header, .all-games-header {
  font-size: 20px;
  line-height: 40px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ddd;
  background-color: #f3f3f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 0;
  margin-bottom: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.about, .fav-games, .all-games {
  padding-bottom: 20px;
}

.name {
  font-size: 26px;
}

.bio {
  font-size: 14px;
  line-height: 150%;
}

.status {
  display: inline-block;
  padding: 5px;
  margin-top: 22px;
  margin-left: 16px;
  border-radius: 100%;
}

.online {
  box-shadow: 0 0 0 2.5px #00d280;
}

.offline {
  box-shadow: 0 0 0 2.5px #FF0000;
}

.games div {
  padding: 0;
}

.game {
  width: 125px;
  display: inline-table;
  text-align: center;
  margin-bottom: 14px;
}

.game-title {
  font-size: 13px;
}

img.boxart {
  max-width: 120px;
  border: 1px solid #ddd;
}

img.boxart:hover {
  border: 1px solid wasdWithMePurple;
  box-shadow: 0 0 25px wasdWithMePurple;
}

.availability-header {
  font-size: 20px;
}

.availability {
  font-size: 16px;
  margin-top: 8px;
  img {
    max-height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
  }
}

.steam {
  background: #fffffe;
}

.steam .header {
  background: #171a21;
  border-color: #171a21;
  color: white;
}

.xbox {
  background: #f3ffed;
}

.xbox .header {
  background: #107c10;
  border-color: #107c10;
  color: white;
}

.playstation {
  background: #edf4ff;
}

.playstation .header {
  background: #003791;
  border-color: #003791;
  color: white;
}

.twitch {
  background: #f9ebff;
}

.twitch .header {
  background: #6441A5;
  border-color: #6441A5;
  color: white;
}

.input-tagline, .input-bio, .input-name {
  font-family: 'Open Sans', sans-serif;
}

.input-tagline {
  width: 400px;
}

.input-bio {
  width: 625px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  resize: none;
}

.input-name{
  font-size: 20px;
  float: right;
  width: 300px;
  margin-right: 190px;
}

.input-game {
  width: 300px;
  font-size: 18px;
  margin-right: 100%;
  margin-bottom: 20px;
}
