@import "primary.styl"

body {
  background-color: #e9ebee;
}

.profile {
  color: black;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  img {
    max-width: 128px;
    max-height: 128px;
    vertical-align: bottom;
  }
}

.header {
  overflow: hidden;
  margin-bottom: 25px;
}

.pic {
  display: inline-block;
}

  .header, .about{
    border-radius: 8px;
    border: 1px solid #dddddd;
    background-color: white;

  }

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.username {
  display: inline;
  vertical-align: top;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.extra-info {
  line-height: 40px;
}

.message-button{
  float: right;
  width: 100px;
  border-radius: 8px;
  border: 1px solid #00881d;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-top: 16px;
  margin-right: 16px;
  background-color: #27ae60;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
}

  .message-button:hover{
    background-color: #2ecc71
  }

.tagline {
  font-size: 18px;
  letter-spacing: 1px;
}

  .about{
    padding-left: 20px;
  }

.about-header {
  font-size: 20px;
}