@import "primary.styl"

body {
  background-color: white;
}

.profile {
  color: wasdWithMeGray;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px
  background-color: #eee;

  img {
    max-width: 128px;
    max-height: 128px;
  }
}

.header {

}

.pic {
  display: inline-block;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.username {
  display: inline;
  vertical-align: top;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.extra-info {
  line-height: 40px;
}

.message-button{
  float: right;
  width: 100px;
  border-radius: 8px;
  border: 1px solid #00881d;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #27ae60;
  cursor:pointer;
  font-family: 'Roboto', sans-serif;
}

  .message-button:hover{
    background-color: #2ecc71
  }
