<div class="banner">
    <img src="/images/about.png">
</div>
<div class="container">
    <h2><strong>WASD With Me</strong> is the online destination to meet and play with gamers.</h2>
    <div class="features">
        <div class="feature">
            <img src="/images/discover.png">
            <p>Discover and connect with gamers.</p>
        </div>
        <div class="feature">
            <img src="/images/session.png">
            <p>Set up gaming sessions with them.</p>
        </div>
        <div class="feature">
            <img src="/images/deck.png">
            <p>Deck out your profile with your games.</p>
        </div>
    </div>
    <p class="sign-up">If you don't have an account yet, <a href="/signup">let's get started</a>!</p>
</div>
