<div class="header">
    <a href="/">
        <img src="images/logo.png" class="logo">
    </a>
    <div class="header-text">
        <div class="header-top">
            {{#if user}}
                Hello, {{user.username}}
            {{else}}
                Hello, Guest
            {{/if}}
        </div>
        <div class="header-bottom">
            {{#if user}}
                <a href="/logout">Log Out</a>
            {{else}}
                <a href="/login">Log In</a>
            {{/if}}
        </div>
    </div>
</div>
<div class="promo">
    <div class="left">
        <img src="images/couple.png" class="couple">
    </div>
    <div class="right">
        <h1>Connect with gamers.</h1>
        <h2>Join wasdWithMe to set up gaming sessions, message one another, and browse each other's gaming libraries.</h2>
    </div>
</div>
<div class="promo2">
    <div class="left">
        <h1>Seize the moment.</h1>
        <h2>Don't miss out on all the fun. Sign up to get in on the action!</h2>
        <a class="button" href="/signup">Sign Up!</a>
    </div>
    <div class="right">
        <img src="images/group.png" class="couple">
    </div>
</div>
<div class="tagline">
    If you're a gamer, welcome home.
    <div class="logos">
        <a href="http://store.steampowered.com/" target="_blank"><img src="images/steam.png"></a>
        <a href="http://www.xbox.com/" target="_blank"><img src="images/xbox.png"></a>
        <a href="https://www.playstation.com" target="_blank"><img src="images/playstation.png"></a>
        <a href="https://www.twitch.tv/" target="_blank"><img src="images/twitch.png"></a>
    </div>
</div>
<div class="live-profiles"></div>