<div class="header">
    <img src="/images/wasdwithmelogo.png" class="logo">
</div>
<div class="promo">
    <div class="left">
        <img src="/images/couple.png" class="couple">
    </div>
    <div class="right">
        <h1>Connect with gamers.</h1>
        <h2>Join wasdWithMe to set up gaming sessions, message one another, and browse each other's gaming libraries.</h2>
    </div>
</div>
<div class="promo2">
    <div class="left">
        <h1>Sieze the moment.</h1>
        <h2>Don't miss out on all the fun. Register your account to get in on the action!</h2>
        <a class="button" href="/register">Register for an Account</a>
    </div>
    <div class="right">
        <img src="/images/group.png" class="couple">
    </div>
</div>
