<a href="/">
    <img src="/images/logo.png"/>
</a>
<div class="title">Log in to your account!</div>
<div class="container">
    <form method="post" action="/login" onsubmit="return validate()">
        <div>
            <label>Username:</label>
            <input type="text" name="username" maxlength="{{config "usernameMaxLength"}}">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" maxlength="{{config "passwordMaxLength"}}">
        </div>
        <p class="feedback">{{#if error}}{{error}}{{/if}}</p>
        <div class="action-button">
            <input type="submit" value="Log In" class="button">
        </div>
    </form>
</div>
<div class="links">
    <a href="/">Home</a>
    <a href="signup">Need an account?</a>
</div>
