<div class="container">
    <div class="header">Chat with {{to}}</div>
    <div class="chat"></div>
    <form class="chat-form">
        <input class="input">
        <input type="submit" value="Send Message" class="button">
    </form>
</div>
