<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{>header}}

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <link rel="stylesheet" href="/stylesheets/secondary.css"/>
      <link rel="stylesheet" href="/stylesheets/{{file}}.css" />
  </head>
  <body>
    {{{body}}}
  </body>
  {{#each js}}
  <script src="/javascript/{{this}}.js"></script>
  {{/each}}
  <script src="/javascript/analytics.js"></script>
</html>
