<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{>header}}

      <link rel="stylesheet" href="/stylesheets/{{file}}.css" />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascript/{{file}}.js"></script>
</html>
